body {
	font-family: arial,sans-serif;
}

div.board-container {
	/*border: 1px solid black;*/
	margin: auto;
	margin-top: 20px;
	height: 500px;
	width: 600px;
}

.board-container div {
	background-color: white;
	border: 1px solid #f1f1f1;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.board-container div.active {
	background-color: black;
}