body {
	font-family: arial,sans-serif;
}

div.board-container {
	border: 1px solid black;
	margin-top: 20px;
	height: 500px;
}

.board-container div {
	background-color: white;
	width: 10px;
	height: 10px;
	border: 1px solid #f1f1f1;
}

.board-container div.active {
	background-color: black;
}